@model CrudProjectVita.Models.PessoaJuridica

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PessoaJuridica</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cnpj)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cnpj)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RazaoSocial)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RazaoSocial)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NomeFantasia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NomeFantasia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CEP)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CEP)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Logradouro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Logradouro)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Complemento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Complemento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bairro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bairro)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cidade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Uf)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Uf)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PessoaJuridicaId" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="btn btn-warning">Back to List</a>
</div>
